**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/charts
**/compose*
**/Dockerfile*
docker-compose.yml
README.md
